*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font: 100% sans-serif;
  margin: 0em;
  max-width: 100%;
  background-color: #fff;
  color: #1A1A1A;
  overflow-x: hidden;
}

h1, h2, h3, nav {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

a {
  color: #4A4A4A;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #DE5B49;
}

li {
  list-style: none;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.8;
  margin-top: 0em;
}

img {
  max-width: 100%;
}

hr {
  border-top: 1px solid #ccc;
  border-bottom: none;
  margin-top: 3em;
  margin-bottom: 2em;
}

.highlight {
  width: 3em;
  height: 0.3em;
  background-color: #DE5B49;
  margin-top: 0;
}

.sectiontitle {
  font-size: 1.8em;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: 0;
  padding-top: 1.5em;
}

/* Header */
header {
  background: rgba(255, 255, 255, 0.95);
  /* box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.1); */
  display: block;
  width: 100%;
  padding: 0.5em;
  z-index: 100;
  position: absolute;
}
header .grid-3 {
  padding:0;
}
header .container {
  text-align: center;
}

#cynthia {
  display: inline-block;
}

#logo {
  display: inline-block;
  vertical-align: middle;
}

header h1 {
  font-weight: 500;
  font-size: 1.5em;
  letter-spacing: 0.04em;
  display: inline-block;
  margin: auto auto auto 0.2em;
  vertical-align: middle;
}

header nav{
  letter-spacing: 0.05em;
  display: block;
  font-size: 1em;
}

header ul{
  padding: 0;
  margin: 0;
}

header nav ul li{
  display: inline-block;
  margin: 0.45em 1em 0 1em;
}

@media screen and (min-width: 50em) {
  header {
    position: fixed;
  }

  header .container {
    text-align: left;
  }

  header nav[class*="grid-3"]{
    text-align: right;
    display: inline-block;
    margin-top: 0.35em;
    font-size: 1.1em;
  }

  header nav ul {
    margin: 0;
  }
  header nav ul li{
    margin: 0;
    margin-left: 2em;
  }
}


/* Intro section */


#intro {
  padding-top: 5.3em;
}

#introtext {
  background-size: auto auto;
  padding-bottom: 3.5em;
  padding-top: 1em;
  background-color: #D95947;
  font-family: "Oswald",sans-serif;
  text-align: center;
}
.welcome {
  width:90%;
  margin-right: auto;
  margin-left: auto;

}
#introtext h1{
  font-weight: 700;
  color: #fff;
  font-size: 2.3em;
  letter-spacing: 0.03em;
  margin-top: 0.8em;
  margin-bottom: 0.5em;
}


#introtext p{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  color: #fff;
  line-height: 1.5em;
  margin-bottom: 2em;
}

.socialicons {
  margin: 3em 0 0 0;
}

.socialicons svg{
  width: 24px;
  margin-right: 1em;
  margin-left: 1em;
}

.glyph:hover path{
  fill: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 60em) {
  #intro{
    padding-top: 3.4em;
  }
  #introtext h1{
    font-size: 3.5em;
  }
  
  #introtext p{
    font-size: 1.2em;
  }

  .socialicons {
    margin-bottom: 0.5em;
  }

  .socialicons svg{
    width: 32px;
  }
}

/* About */
#banner{
  min-width: 40em;
}
#about {
  padding-bottom: 4em;
}

#about span{
  display: block;
  text-align: center;
  margin: 2em auto;
}

#about p{
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  margin: auto;
}

@media screen and (min-width: 50em){
  #about p{
    font-size: 1.1em;
    width: 80%;
  }
}

/* Skills */
.skills {
  text-align: center;
}
.skills img{
  height: 4em;
  margin-top: 20px;
}

/* work */
#work {
  padding-bottom: 4em;
  background: #F3F3F3;
}

/* #work [class*="grid-2"], #work [class*="grid-3"]  {
  margin-bottom: 1%;
  margin-top: 1%;
  width: 50%;
} */

/* #work a img {

  transition: opacity .2s ease;
  opacity: 1;
  width: 100%;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(224,224,224,1);
  -moz-box-shadow: 1px 1px 2px 0px rgba(224,224,224,1);
  box-shadow: 1px 1px 2px 0px rgba(224,224,224,1);
} 

*/

#work a img:hover {
  opacity: .8;
}

@media screen and (min-width: 40em) {
  #work .grid-2 {
    width: 33.3333333%;
  }
}

/* Resume */

#resume .glyph:hover path{
  fill: rgba(217, 89, 71, 1);
}
#resume {
  padding-bottom: 3em;
}
#resume ul{
  padding-left: 26px;
  margin-top: 0;
}
#resume ul li{
  list-style-type: disc;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}
.companyid, .jobtitle {
  margin-bottom: 0.5em;
  letter-spacing: 0.03em;
  font-size: 1.2em;
  text-align: center;
  font-weight: 300;
}

#resume p{
  text-align: center;
  margin-bottom: 0;
}


#resume a{
  text-align: center;
  display: block;
  margin-bottom: 0.5em;
}


@media screen and (min-width: 40em) {
  .companyid, .jobtitle{
    font-size: 1.3em;
    font-weight: 300;
  }

  .jobtitle {
    text-align: left;
  }

  #resume ul li{
    font-size: 1.1em;
  }

  .companyid, #resume p{
    text-align: right;
    padding-right: 30px;
  }

  #resume .title {
    text-align: left;
  }

}


/* Footer */
footer {
  background: #504E59;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 0.7em;
  letter-spacing: 0.01em;
  color: white;
  padding-top: 3em;
  padding-bottom: 2em;
  margin-bottom: 0;
}

footer .socialicons{
  margin-top: 0;
  margin-bottom: 2em;
}
/* Same font-size and line-height as p element */
section ul li, section ol li {
  font-size: 1em;
  margin-left: -10px;
  line-height: 1.8;
}

footer hr {
  margin-top: 2em;
  margin-bottom: 1em;
}


@media screen and (min-width: 60em) {

}


/* ------------------- Grid -------------------*/

.container {
  max-width: 60em;
  width:92%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  clear: both;
  margin-right: -1%;
  margin-left:  -1%;
  
}

.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.row:after {
    clear: both;
}

/**
 * For IE 6/7 only
 */
.row {
  *zoom: 1;
}

.grid-1,
.grid-2,
.grid-2-4,
.grid-3,
.grid-4,
.grid-5,
.grid-6 {
  float: left;
  width:100%;
  padding: 0 1%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 40em) {
  .grid-1 { width: 16.6666666%; }
  .grid-2 { width: 33.3333333%; }
  .grid-2-4 { width: 25%; }
  .grid-3 { width: 50%; }
  .grid-4 { width: 66.6666666%; }
  .grid-5 { width: 83.3333333%; }
  .grid-6 { width: 100%; }

}

/* -------------------Custom Blocks----------------- */




/* Experience */
.experience [class*="row"] {
  border-bottom: dotted 1px #ccc;
  padding-top: 1em;
  padding-bottom: 1em;
}

.experience h2 {
  margin-bottom: 0;
}

.experience h2, .experience p {
  text-align: center;
}

.experience [class*="row"]:last-of-type {
  border: none;
}

@media screen and (min-width: 40em) {
  .experience h2, .experience p {
    text-align: left;
  }
}


/* Education Block */
.education {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  margin-bottom: 0;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 40em) {
  .education {
    width: 70%;
  }
}


/* Testimonials */
.testimonial {
  text-align: center;
  margin-bottom: 30px;
}

.testimonial img {
  height: 4em;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 40px;
}

.testimonial p {
  font-style: italic;
  color: #888;
  margin-top:  -15px;
}

