/* common class selector */

.workname {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  color: #1a1a1a;
  margin-top: 0.8em;
  margin-bottom: 0;
  letter-spacing: 0.02em;
}

.tagline {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  margin-top: 0;
}

.description {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  margin-top: 0.5em;
}

.processtitle {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 0.03em;

}

.highlight_left{
  width: 3em;
  height: 0.3em;
  background-color: #DE5B49;
  margin: 0;
}

.keypoint {
  list-style: disc;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.1em;
}

/* 1. portfolio cover page */

.portfolio {
  background: #f6f6f6;
  padding-bottom: 25px;
}

.portfolio img{
  margin-top: 90px;
  width: 100%;
}


@media screen and (max-width: 64em) {
  .portfolio img{
    margin-top: 130px;
  }
  .workname {
    font-size: 1.2em;
  }
  .tagline{
    font-size: 1em;
  }
  .description {
    font-size: 1em;
  }

  .keypoint {
    font-size: 1em;
  }
}


/* Brief section starts here */

.brief{
  background: #f6f6f6;
  padding-top: 1em;
}

.brief ul{
  margin-top: 0.5em;
}


/* Research section */
.research {
  background: #f6f6f6;
  padding-top: 0.5em;
  padding-bottom: 1.5em;
}

.trends {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  text-align: center;
  font-weight: 300;
  white-space: nowrap;
}

#statuschange, #mobilework, #diversity, #spacetime, #collaboration, #smallersize {
  display: block;
  margin: auto;
  height: 90px;
  margin-top: 1em;
}

@media screen and (max-width: 50em){
  .trends {
    font-size: 0.9em;
  }
}
/* Observations section */
.observations {
  padding-top: 1em;
}

.scenarios {
  display: block;
  margin: auto;
  margin-top: 1em;
  max-width: 100%;
}

.shortdescription{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 300;
}

@media screen and (min-width: 28em){
  .observations .large-3 {
  width: 50%;
  }
}

@media screen and (min-width: 50em) {
  .observations .large-3 {
    width: 25%;
  }

}

@media screen and (max-width: 50em){
  .shortdescription {
    font-size: 0.9em;
  }
}
/* Design Specifications section */
.specifications {
  padding-top: 1em;
  padding-bottom: 0.5em;
}

/* Ideation section */
.ideation {
  padding-top: 1em;
}
.ideation img{
  display: block;
  margin: auto;
}

/* Modelling section */
.prototyping{
  padding-bottom: 4em;
}

.prototyping img{
  display: block;
  margin: auto;
}

/* Final presentation section */
.final {
  background: #f6f6f6;
  padding-bottom: 3em;
  padding-top: 1em;
}
.final .large-5, .final .large-2{
  display: block;
  margin-top: 1em;
  float: left;
}

.final img{
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}


/* Contact section */
.contactlink {
  background: #504E59;
  text-align: center;
}

.contactlink .icons {
  margin-top: 2em;
  margin-bottom: 0;
}

.icons svg{
  margin: 0 1em;
}

.contactlink .glyph:hover path{
  fill: rgba(255, 255, 255, 0.5)
}

/* footer section */

